<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Castro Mbithi{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <span class="logo">
            <a href="/">Castro Mbithi</a>
        </span>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/">Articles</a></li>
            <li><a href="/">Videos</a></li>
            <!-- <li><a href="/">ERR</a></li>
            <li><a href="/">about</a></li>
            <li><a href="/">about</a></li> -->
        </ul>
    </nav>
    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>