{% extends "base.html" %}

{% block content %}
<h1 class="hero-text">Hey, I'm Castro! I am a Software Engineer</h1>
<h2>Here is some content I have created</h2>
<ul class="posts">
    {% for post in data %}
    {% if post.type == 'video' %}
    <li>
        <span class="tag tag-video">Video</span>
        <a href="/video/{{ post.slug }}.html">{{ post.title }}</a>

    </li>
    {% endif %}
    {% if post.type == 'article' %}
    <li>
        <span class="tag tag-article">Article</span>
        <a href="/article/{{ post.slug }}.html">{{ post.title }}</a>
    
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}