{% extends "base.html" %}

{% block content %}
<div>
    <h1>{{ data.metadata.title }}</h1>
    <iframe src="https://www.youtube.com/embed/{{  data.metadata.video_id }}"
        title="Castro Mbithi wins the Ambassadors' Choice Award in the Just Concluded Microsoft Student Summit Africa"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <div>
        {{ data.content }}

    </div>
</div>

{% endblock %}